/* @keyframes floatDiv {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
} */
.skill{
    text-align: center;
    font-size: 5.8rem;
    color: #cfb53b;
    font-family: 'HarryPotterFont', serif;
    animation: zoomOut 4s ease-in-out forwards,float 4s ease-in-out infinite;
    position: absolute;
    top: 90px;
    right: 690px;
}
@keyframes zoomOut{
    0%{
        transform: scale(3);
        opacity: 0;
    }
    50%{
        transform: scale(2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}


.circle-container {
    position: relative;
    width: 600px; /* Size of the entire container */
    height: 600px;
    position: absolute;
    top: 120px;
    right: 420px;
    margin: 50px auto; /* Center the container */
    animation: zoomOut 4s ease-in-out forwards,float 4s ease-in-out infinite;
}
@keyframes zoomOut{
    0%{
        transform: scale(3);
        opacity: 0;
    }
    50%{
        transform: scale(2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}



.image {
    position: absolute;
    width: 100px; /* Image width */
    height: 100px; /* Image height */
    object-fit: cover; /* Keeps the full image visible */
    padding: 5px; /* Space around the images */
}

/* Individual image positions around the circle */
.image:nth-child(1){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(230px) rotate(-0deg);
   
}

.image:nth-child(2){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg) translate(230px) rotate(-40deg);
    
}

.image:nth-child(3){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(80deg) translate(230px) rotate(-80deg);
    
}

.image:nth-child(4){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg) translate(230px) rotate(-120deg);
   
}

.image:nth-child(5){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(160deg) translate(230px) rotate(-160deg);
    
}

.image:nth-child(6){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(200deg) translate(230px) rotate(-200deg);
   
}

.image:nth-child(7){
    width: 75px;
    height: 100px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(240deg) translate(230px) rotate(-240deg);
    
}

.image:nth-child(8){
    width: 75px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(280deg) translate(230px) rotate(-280deg);
    
}

.image:nth-child(9){
    width: 150px;
    height: 75px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(320deg) translate(230px) rotate(-320deg);
   
}

.certificates {
    border: 2px black; 
    padding: 5px;             
    background-color: #cfb53b;
    border-radius: 20px;      
    width: fit-content;       
    text-align: center;       
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.certificates a {
    font-family: 'lumos', serif;
    text-decoration: none; 
    color: black;       
    font-weight: bold;     
    font-size: 25px;       
}
.pl .head{

    color: #cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 200px;
    left: 200px;

}
.pl .lang{
    color: whitesmoke;
    font-family: 'HarryPotterFont', serif;
    position: absolute;
    top: 240px;
    left: 260px;
}
.pc .head{

    color: #cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 400px;
    left: 100px;

}
.pc .lang{
    color: whitesmoke;
    font-family: 'HarryPotterFont', serif;
    position: absolute;
    top: 440px;
    left: 100px;
}
.fe .head{
    color: #cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 200px;
    right: 300px;

}
.fe .lang{
    font-family: 'HarryPotterFont', serif;
    color: whitesmoke;
    position: absolute;
    top: 240px;
    right: 250px;

}
.be .head{

    color: #cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 390px;
    right: 250px;
    

}
.be .lang{
    font-family: 'HarryPotterFont', serif;
    color: whitesmoke;
    position: absolute;
    top: 430px;
    right: 200px;
}
.db .head{

    color: #cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 600px;
    left: 300px;
    
}
.db .lang{
    font-family: 'HarryPotterFont', serif;
    color: whitesmoke;
    position: absolute;
    top: 640px;
    left: 300px;
}
.ide .head{

    color:#cfb53b;
    font-family: 'lumos',serif;
    position: absolute;
    top: 600px;
    right: 330px;
    
}
.ide .lang{
    font-family: 'HarryPotterFont', serif;
    color: whitesmoke;
    position: absolute;
    top: 640px;
    right: 250px;
}