{% extends "base.html" %}
{% block style%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">
{% endblock %}
{% block content %}

<h1>About Me</h1>
<div class="content">
    <h4>Hey</h4>
    <p>I'm Mohammed Adnaan Umar!</p>
     <p>Though in the wizarding world of tech, I'm 'Adum'! </p>
     <p>I'm exploring the magical realms of tech world much like a modern-day wizard! With my keyboard like a wand in my hand, I have specialized in conjuring up seamless digital experiences through full-stack development,
    casting spells in Python, Flask, HTML, CSS, and SQL.</p>
    <p>My journey began with mastering the basics of coding—like learning the first incantations of programming language in my university and
    now I'm diving deeper into creating enchanted online experiences.</p>
    <p>I've had the chance to work on various magical adventures (i.e internships),
    from UI/UX design to app development and Python programming. Each project feels like a new spell,
    blending creativity and logic to solve problems and create solutions that feel effortless to the user.</p>
   <p> In my coding chamber,I'm always exploring new magical tech trends and eager to expand my knowledge beyond the Muggle realm.
    Whether it's solving complex problems or experimenting with new tools.</p>
    <p>I'm always ready to take on the next great adventure!</p>
</div>
{% endblock %}