{% extends "base.html" %}
{% block style%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}

<h1>Welcome to my Portfolio </h1>

<h5>I'm Adum</h5>  
<div class="linkedin" >
    <a href="https://www.linkedin.com/in/mohd-a-bb962b257/">
        <img src="{{ url_for('static', filename='images/linkedin(1).png') }}" alt="resume" width="45px" height="45px">

    </a>
</div>
<div class="github">
    <a href="https://github.com/Adum04">
        <img src="{{ url_for('static', filename='images/github (1).png') }}" alt="resume" width="45px" height="45px">

    </a>
</div>
<div class="resume">
    <a href="static/docs/Adum .pdf" download="Resume.pdf">
        <img src="{{ url_for('static', filename='images/resume (1).png') }}" alt="resume" width="55px" height="44px">

    </a>

</div>
<div class="image" >
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/removebg.png') }}"  alt="logo" class="logo" >
    </a>
  </div>
{% endblock %}