{% extends "base.html" %}
{% block style%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}

<h1>Welcome to my Portfolio </h1>

<h5>I'm Adum</h5>  
<div class="linkedin" >
    <a href="https://www.linkedin.com/in/mohd-a-bb962b257/">
    <img src="{{ url_for('static', filename='images/linkedinrg.png') }}" alt="linkedin" width="50px" height="50px" >

    </a>
</div>
<div class="github">
    <a href="https://github.com/Adum04">
    <img src="{{ url_for('static', filename='images/githubrg.png') }}" alt="github" width="59px" height="59px">

    </a>
</div>
<div class="resume">
    <a href="static/docs/Adum .pdf" download="Resume.pdf">
        <img src="{{ url_for('static', filename='images/yeh.png') }}" alt="resume" width="53px" height="53px">

    </a>

</div>
<div class="image" >
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/removebg.png') }}"  alt="logo" class="logo" >
    </a>
  </div>
{% endblock %}