{% extends "base.html" %}
{% block style%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}">
{% endblock %}
{% block content %} 
<div class="skill">
    <h1>Skills </h1>
</div>

<div class="certificates">
        <a href="{{ url_for('certifications') }}">Certifications</a>
</div>

<div class="circle-container">
    <img src="{{ url_for('static', filename='images/python.png') }}" alt="Image 1" class="image image1">
    <img src="{{ url_for('static', filename='images/html.png') }}" alt="Image 2" class="image image2">
    <img src="{{ url_for('static', filename='images/css-3.png') }}" alt="Image 3" class="image image3">
    <img src="{{ url_for('static', filename='images/dsa.jpeg') }}" alt="Image 4" class="image image4">
    <img src="{{ url_for('static', filename='images/sql.jpeg') }}" alt="Image 5" class="image image5">
    <img src="{{ url_for('static', filename='images/mysql.png') }}" alt="Image 6" class="image image6">
    <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Image 7" class="image image7">
    <img src="{{ url_for('static', filename='images/ui.png') }}" alt="Image 8" class="image image8">
    <img src="{{ url_for('static', filename='images/sqlalchemy.jpeg') }}" alt="Image 9" class="image image9">
</div>
<div class="pl">
    <h3 class="head">Programming Languages</h3>
    <h5 class="lang"> Python,SQL</h5>
    <!-- <h5>SQL</h5> -->
</div>
<div class="pc">
    <h3 class="head">Programming Concepts</h3>
    <h5 class="lang">OOPS(Object-oriented),Data Structues</h5>
    <!-- <h5>Data Structures</h5> -->
</div>
<div class="fe">
    <h3 class="head">Front-End</h3>
    <h5 class="lang">HTML,CSS,Jinja2,Bootstrap</h5>
    <!-- <h5>CSS</h5> -->
    <!-- <h5>Jinja2</h5> -->
</div>
<div class="be">
    <h3 class="head">Back-end </h3>
    <h5 class="lang">Flask,SQLAlchemy</h5>
    <!-- <h5>SQLAlchemy</h5> -->
</div>
<div class="db">
    <h3 class="head">Database</h3>
    <h5 class="lang">SQL,MYSql</h5>
    <!-- <h5>MYSql</h5> -->
</div>
<div class="ide">
    <h3 class="head">IDEs</h3>
    <h5 class="lang">Visual code,Sublime Text</h5>
    <!-- <h5>Sublime text</h5> -->
</div>
{% endblock %}